body {
    margin: 0;
    padding: 0;
    background-color: #406880;
}

.login {
    width: 341px;
    height: 257px;
    background-color: rgb(15, 3, 185);
    text-align: center;
    align-items: center;
}

h3 {
    color: #fff;
}

.btn-submit {
    background-color: #8D5A6E;
    width: 90%;
}

input[type='text'],
input[type='password'] {
    width: 90%;
    margin: 5px;
}