<body>
    <div class="contenedor">
        <div class="login">
            <h3>INICIO</h3>
            <form action="">
                <input type="text" placeholder="Username"> <br>
                <input type="password" placeholder="Password"><br>
                <input type="submit" value="LOGIN" class="btn-submit">
            </form>
        </div>
    </div>
</body>